form {
    margin-top: 22px;
    width: 673px;
    /* border:2px solid black; */
    height: 580px;
    margin-left: 278px;
    border-radius: 30px;
    /* box-shadow: 1px 2px 3px 4px; */
    padding:20px

}

.alert.alert-danger {
    height: 40px;
    padding-top: 6px;
    margin-bottom: 1px;
}
input {
    width: 585px;
    margin-bottom: 9px;
}
.card-header1{
    /* margin-left: 406px; */
   
    /* text-align: center; */
    /* margin-top: 8px; */
    padding-left: 453px;
    background-color: darkseagreen;
    margin-bottom: 10px;
    color: black;
    width: 496px;
    margin-right: 10px;
}
.aa1{
 border: 2px solid black;
 width: 500px;
 margin-left: 442px;
 color: green;
 background-color: aliceblue;
 /* background-color: goldenrod; */
 margin-top: 18px;

 height: 400px;

 height: 200px;
}



